/mongo-java/m101j_week1_examples/.settings
/mongo-java/m101j_week1_examples/target
/mongo-java/m101j_week1_examples/.classpath
/mongo-java/m101j_week1_examples/.gitignore
/mongo-java/m101j_week1_examples/.project
