/mongo-java/week_1/hw1-3/hw1-3/target
/mongo-java/week_2/create_blog_authors__mongoproc_hw2.3_m101j_version_52d46451e2d423570a05ba43/create_blog_authors/.classpath
/mongo-java/week_2/create_blog_authors__mongoproc_hw2.3_m101j_version_52d46451e2d423570a05ba43/create_blog_authors/.project
/mongo-java/week_2/create_blog_authors__mongoproc_hw2.3_m101j_version_52d46451e2d423570a05ba43/create_blog_authors/.settings
/mongo-java/week_2/create_blog_authors__mongoproc_hw2.3_m101j_version_52d46451e2d423570a05ba43/create_blog_authors/target/classes/META-INF/*.MF
/mongo-java/week_2/create_blog_authors__mongoproc_hw2.3_m101j_version_52d46451e2d423570a05ba43/create_blog_authors/target/classes/course/*.class
/week_1/hw1-3/hw1-3/target/classes/com/mongodb/*.class
/mongo-java/week_3/blog-accepting-posts-and-comments-m101j/blog_accepting_posts_and_comments/.settings
/mongo-java/week_3/blog-accepting-posts-and-comments-m101j/blog_accepting_posts_and_comments/.classpath
/mongo-java/week_3/blog-accepting-posts-and-comments-m101j/blog_accepting_posts_and_comments/.project
/mongo-java/week_4/m101j-blog-indexes/m101j-blog-indexes/*.classpath
/mongo-java/week_4/m101j-blog-indexes/m101j-blog-indexes/*.gitignore
/mongo-java/week_4/m101j-blog-indexes/m101j-blog-indexes/*.project
/mongo-java/week_4/m101j-blog-indexes/m101j-blog-indexes/.settings/*.prefs
